* {
    font-family: "Oswald", sans-serif;
}

body {
    position: relative;
    margin: 0;
}

h1 {
    padding:1em 1em 0 1em;
    margin-top: 0;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 1em;
}

.card {
    display: flex;
    padding: 0 0 0 1em;
    border: 1px solid lightgray;
    border-radius: 10px;
    align-items: center;
}

.text-container {
    padding: 1em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    background-color: white;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border-style: none;
    border-radius: 50%;
}

.hidden {
    display: none;
    }